@model List<Donation>
@{
    ViewData["Title"] = "Your Donations";
    Layout = "_Layout";
}
<h1>Previous Donations</h1>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Type of Donation</th>
            <th>Amount donated</th>
            <th>Data Donated</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Donation donation in Model)
        {
            <tr>
                <td>@donation.DonationType.Type</td>
                <td>$@donation.Amount</td>
                <td>@donation.DateDonated</td>
                <td>@donation.Comments</td>
            </tr>
        }
    </tbody>
</table>
<br />

<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-dark">Go Back</a>