@model List<Donation>
@{
    ViewData["Title"] = "Your Donations";
    Layout = "_Layout";
}

<h1 style="text-align:center">Donations</h1>

<!-- Code to display donation data for Admin user DP.-->
<table class="table table-bordered table-striped bg-white" style="width:100%">
    <thead>
        <tr>
            <th>Donation Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Donation donation in Model)
        {
            <tr>
                <td>@donation.DonationType.Type</td>
                <td>$@donation.Amount</td>
                <td>@donation.DateDonated</td>
                <td>@donation.Comments</td>
            </tr>
        }
    </tbody>
</table>
<br />

<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-dark">Back</a>