@{
    Layout = "_Layout";
    <!-- Code to enable the links below to mark the current link in the navbar as active-->
    string controller = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="container" style="display: inline-block">

</div>

@RenderBody()