@{
    ViewBag.Title = "Admin Section";
}

<h3 style="text-align:center">Admin Section</h3>

<div>
    <a asp-area="Admin" asp-controller="Home" asp-action="CreateStaff">Create New Staff Member</a>
</div>

<div>
    <a asp-area="Admin" asp-controller="Home" asp-action="Funds">See Available Funds</a>
</div>