@{ ViewBag.Title = "Admin Section"; }

<!-- Tim's html code for admin home page layout DP.-->
<style>

body { background-image: url('../images/double-bubble.png'); }

    .div_hover {
        text-decoration: none;
        margin: 1px;
        padding: 2px;
        color: black;
    }

        .div_hover:hover {
            background-color: black;
            color: white;
            border: 1px solid black;
        }

    #contents {
        float: right;
        margin-right: 100px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        border: 1px solid black;
    }
</style>
<body>
    <div class="container" style="border-style: solid; border: 9px solid #0094cc; border-radius: 20px;margin-top: 15px; background-color: white;">
        <h1 style="text-align:center; margin-top: 1rem; margin-bottom: 1rem">Administration Management</h1><br>
        <div>
            <div style="background-color: white; border: 5px ridge black; width: 15%; padding:10px; display: inline-block; margin-bottom: 2rem">

                <div class="div_hover">
                    <a asp-area="Admin" asp-controller="Home" asp-action="CreateStaff"><b>&nbsp;Add New Staff Member</b></a>

                </div>
                <div class="div_hover">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Funds"><b>&nbsp;View Available Funds</b></a>
                </div>

                <div class="div_hover">
                    <a asp-area="Admin" asp-controller="RoleManager" asp-action="ManageRoles"><b>&nbsp;Manage User Roles</b></a>
                </div>

                <div class="div_hover">
                    <a asp-area="Admin" asp-controller="UserRoles" asp-action="Index"><b>&nbsp;Assign User Roles</b></a>
                </div>

                <div class="div_hover">
                    <a asp-area="Admin" asp-controller="Event" asp-action="Add"><b>&nbsp;Add An Event</b></a>
                </div>

                <div class="div_hover">
                    <a asp-area="" asp-controller="Donation" asp-action="DonationView"><b>&nbsp;View Donations</b></a>
                </div>

                <div class="div_hover">
                    <a asp-area="" asp-controller="News" asp-action="Index"><b>&nbsp;View & Edit News</b></a>
                </div>

            </div>

        </div>
    </div>  
</body>