@{
    ViewBag.Title = "About Our NonProfit Organization";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Senior_Project.css">
</head>
<body>

    <img style="padding-left: 10px;" src="~/images/Codesign logo.png" width="250" height="100" alt="" />
    <div class="row">
        <div class="column left" style="background-color:white;">


        </div>
        <div class="column middle" style="background-color:white;">
            <br />
            <h2><strong></strong>About Us</h2>
            <p><img style="padding-left: 6px; float: right;" src="~/images/EXPERT-COMPUTER-HELP-LOGO-300x245.jpg" width="100" height="70" alt="" />&emsp;Our educated team here at Codesign is here to help diverse businesses, organizations and individuals grow as their business requirements change. We design custom-tailored business solutions to your specific needs. We are a knowledgeable yet ever improving team of talented software developers who are committed to producing top-notch products and to encouraging an environment of collaboration and confidence. We are built on customer service and will deliver professionalism in every application.</p>
            <h2><strong></strong>Our Team</h2>

            <p>
                <img style="padding-right: 10px;padding-top:10px; float: left;" src="~/images/team.png" width="80" height="80" alt="" />Assembling a team is not about filling seats—it’s about finding people whose individual talents and demeanor complement each other. Every member of the Codesign team brings something unique to the table. From day-to-day brainstorming through execution, our collaborative process results in work we’re proud of.<br />
                <ul style="list-style-type: circle">
                    <li>Gavin Bernard</li>
                    <li>Grace Guan</li>
                    <li>Parker Johnston</li>
                    <li>Timothy Lambrecht</li>
                    <li>David Taylor</li>
                    <li>Derrick Phillips</li>
                    <li>Alexander Torres</li>
                </ul>
            </p>
        </div>
        <div class="column right" style="background-color:white;">




        </div>
    </div>

</body>
