@{
    ViewBag.Title = "Contact Us";
}

@*Generic contact us page.*@


<form asp-area="" asp-action="Add" method="post">
    <div class="container">
        <div style="        border-style: solid;
            border: 9px solid #8acbfb;
            border-radius: 20px;
            margin-top: 15px;
            background-color: white;
            padding: 40px;">

            <div>
                <h2 style="text-align:center;line-height: 60px"><b>Tell us your thoughts!</b></h2>
            </div>
            <div asp-validation-summary="All" class="text-danger" style="background-color:#EBEBEB;"></div>
            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Country</label>
                <select id="country" name="country">
                    <option value="usa">USA</option>
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                </select>
            </div>
            <div class="form-group">
                <label>Subject</label>
                <textarea class="form-control" id="subject" name="subject" placeholder="Write something.." style="height:200px; width:400px"></textarea>
                <input type="submit" value="Submit">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" id="email">
            </div>
        </div>
    </div>
</form>

