@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div style="        border-style: solid;
        border: 9px solid #8acbfb;
        border-radius: 20px;
        margin-top: 15px;
        background-color: white;">

        <h2 style="text-align:center"></h2>


        <div style="padding: 20px; padding-left: 40px; padding-right: 40px;">
            <h2 style="text-align:center;line-height: 60px"><b>Helping Entry-Level Programmers</b></h2>
            <p style="text-align:center; font-size: 18px; line-height: 40px;">
                <img style="padding-left: 6px; float: right; vertical-align: middle;" src="~/images/programming_img.jpg" width="390" height="240" alt="" />&emsp;
                Codesign is here to provide and assist new programmers in learning and developing their skills. Programming is becoming a greater and greater presence as technology is growing exponentially and driving the world towards the future, and the demand for skilled programmers is rising along with it. CoDesign is built to offer support and community to those beginning their exploration in the field, to support those whom will have an astronomical part in shaping and carrying the future of technology and our lives with it
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div style="        border-style: solid;
        border: 9px solid #0094cc;
        border-radius: 20px;
        margin-top: 15px;
        background-color: white;">

        <h2 style="text-align:center"></h2>


        <div style="padding: 20px; padding-left: 40px; padding-right: 40px;">
            <h2 style="text-align:center;line-height: 60px"><b>How You Can Help Make a Difference</b></h2>
            <p style="text-align:center; font-size:18px; line-height: 40px;">
                <img style="padding-left: 6px; float: left; text-align: center;" src="~/images/software_engineers.jpeg" width="300" height="210" alt="" />&emsp;
                Funds donated to us by generous people just like you allow us to extend a helping hand to those who need it and offer resources to aid in their education in programming. Through your help and your generosity, we are able to build and maintain an open community always ready to support each other, as well as gather resources and information ready for use.
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div style="        border-style: solid;
        border: 9px solid #8acbfb;
        border-radius: 20px;
        margin-top: 15px;
        background-color: white;">

        <h2 style="text-align:center"></h2>

        @*<p style="text-align:center;">┌────── ∘°❉°∘ ──────┐</p>
            <h2 style="text-align:center">Member Directory</h2>


            <form action="/action_page.php" style="text-align:center">
                <label for="firstName">First Name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="lastName">Last Name:</label><br>
                <input type="text" id="password" name="password" value="Doe"><br /><br />
                <input type="submit" value="Search">
            </form><br />
            <p style="text-align:center;">└────── °∘❉∘° ──────┘</p><br /><br /><br *@

        <div style="padding: 20px;">
            <p style="text-align:center;">┌────── ∘°❉°∘ ──────┐</p>
            <h2 style="text-align:center;">Quick Donations</h2>
            <p style="text-align:center;">Click the Donate button below to help <br> us support programmers across the nation.</p>

            <form borderstyle="text-align:center;" class="form" action="https://www.paypal.com/donate" method="post" target="_blank">
                <input type="hidden" name="hosted_button_id" value="786ARK7KSFWW8" />
                <input style="display: block; margin: 0 auto;" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form> <p style="text-align:center;">└────── °∘❉∘° ──────┘</p>
        </div>
    </div>
</div>