@{
    ViewData["Title"] = "Home Page";
}


<body>


    <div class="container">
        <div class="column left" style="background-color:#aaa" border-style: solid">

            <h2>Member Log In</h2>

            <form action="/action_page.php">
                <label for="firstName">Username:</label><br>
                <input type="text" id="fname" name="fname" value=""><br>
                <label for="lastName">Password:</label><br>
                <input type="password" id="password" name="password" value=""><br><br />
                <input type="submit" value="Submit">
            </form>
            <p style="text-align:center;">__________________________</p>
            <h2>Member Directory</h2>


            <form action="/action_page.php">
                <label for="firstName">First Name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="lastName">Last Name:</label><br>
                <input type="text" id="password" name="password" value="Doe"><br /><br />
                <input type="submit" value="Search">
            </form>
            <p style="text-align:center;">___________________________</p><br />

            <p>Pick your charity and make donations by clicking on the Donate button below.</p>

            <form style="text-align:center;" class="form" action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="786ARK7KSFWW8" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form><br /><br />
        </div>

        <!-- Code for the middle column of container to hold image-->
        <div class="column middle">
            <img style="padding-left: 10px;" src="images/service-to-the-community.png" width="350" height="150" alt="" />
        </div>


        <div class="column right" style="background-color:#bbb;">
            <h2 style="text-align:center">[Company Title...] Management System</h2>

            <h2>Administrator Log In</h2>

            <form action="/action_page.php">
                <label for="firstName">Username:</label><br>
                <input type="text" id="fname" name="fname" value=""><br>
                <label for="lastName">Password:</label><br>
                <input type="password" id="password" name="password" value=""><br><br />
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
