@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
     {
        <!-- Code to show the current user name in the NavBar DP.-->
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>

        <!-- Code for the NavBar Logout button DP.-->
        <li class="nav-item">
            <form class="form-inline" asp-area="" method="post" asp-action="LogOut" asp-controller="Account">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
     }
    else
    {
        <!-- Code for the Register & Login link if there is no current user signed in DP.-->
        <li class="nav-item ml-auto">
            <a asp-action="Register" asp-controller="Account"
               asp-area="" class="nav-link">
                <span class="fas fa-edit"></span>&nbsp;Register
            </a>
        </li>
        <li class="nav-item ml-auto">
            <a asp-area="" asp-controller="Account" asp-action="LogIn" class="nav-link btn btn-link text-dark">Log In</a>
        </li>
    }
</ul>
