@model IEnumerable<nonprofitOrganization.Models.News>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Code to enable the users to be able to see what news is posted DP.-->
<div class="detailed-background" style="border-style: solid; border: 9px solid #0094cc; border-radius: 20px;margin-top: 15px; background-color: white; min-height: 300px">
    <h2 class="title-class" style="text-align:center">News</h2>
    <hr />
    @foreach (var item in Model)
     {
        <h2 class="Post-Title">@Html.DisplayFor(modelItem => item.NewsTitle)</h2>
        <h3 class="Post-Info">@Html.DisplayFor(modelItem => item.NewsAuthor)</h3>
        <h3 class="Post-Info">@Html.DisplayFor(modelItem => item.DatePosted)</h3>
        <p>@Html.DisplayFor(modelItem => item.Body)</p>
        <a href="~/NewsAndEvents/SingleView/@Html.DisplayFor(modelItem => item.NewsID)" class="View-More font-weight-bold">View More</a>
        <hr />
     }
</div>